@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --font-nunito: 'Nunito', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;
    --rosa: #E21982;
    --azulOscuro: #22193F;
    --gris: #E8E8E8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
}

body{
    font-family: var(--font-OpenSans);
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 a{
    font-family: var(--font-nunito);
    font-weight: 900;    
}
a {      
    font-weight: 900;   
}
.navbar{
    height: 10vh;
}
.menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
}
.menu .navbar-collapse ul li {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
}
.li-button{
    display: flex;
    align-items: flex-end;
}
.btn-rosa{
    background-color: #E21982;
    color: var(--gris);    
    border: none;
    border-radius: 2.2rem;
    height: 2.1rem;
    width: 7rem;
    font-family: 'Nunito Bold', sans-serif;
    font-size: 1rem;
}
.btn-rosa:hover{
    background-color: #C10767;
    box-shadow: 0 4px 16px rgb(25, 26, 26);
    transition: all 0.5s ease;
}
.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-principal{
    margin-top: auto;
    position: absolute;
    color: var(--gris);        
    display: flex;    
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 100%;    
}
.banner-principal h1{   
    font-size: 2.5rem;
}
.text p{
    font-size: 1.2rem;
    color: var(--gris);
}
#quienes-somos{
    background-color: var(--gris);
}
#quienes-somos h2{
    margin-bottom: 5vh;
}
#quienes-somos .row .col-6{
    margin: 0;
    padding: 0;
    margin-top: 6vh;
    margin-bottom: 5vh;
}
#quienes-somos .row .col-6 h6{ 
    font-weight: 200;    
    font-size: 12px;
    color: #C10767;
    margin-bottom: 0;
}
.buscas{
    width: 100vw;
    padding: 5vh 0;
}
.buscas .row .col-4 h2,p{
    color: var(--rosa);
}
.brindas{
    height: 14vh;
    display: flex;
    justify-content: center;
}
.ayudar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 2rem; */
    background-color: var(--rosa);
    color: var(--gris);
}
.ayuda{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1vw;
}
.ayuda p, h4{
    margin: 0;    
}
.div-btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.btn-haceClick{
    border: 1px solid var(--gris);
    border-radius: 1.5rem;
    width: 10rem;
    height: 2.5rem;
    background-color: transparent;
    color: var(--gris);
}
footer{
    margin-top: 90vh;
    background-color: #22193F;
    color: var(--gris);
}
/* 
@media (max-width: 992px) {
    .menu{
        display: contents;        
    }
}    
*/

@media (max-width: 992px) {
    .container{
        height: auto;
    }
    .menu{
        display: contents;        
        justify-content: flex-end;
    }
    .container-menu{
        display: flex;        
    }
    .logo{
        display: flex;
        justify-content: center;        
    }
    .banner-principal{
        width: 60%;
    }
}
@media (max-width: 518px){
    .banner-principal{
        width: 100%;
    } 
}
@media (max-width: 380px){
    .banner-principal{
        width: 100%;
    }
    .banner-principal h1{
        font-size: 30px;
    }
    .banner-principal p{
        font-size: 12px;
    }  
}

@media (min-width: 992px) {
    .logo{
        display: flex;
        justify-content: start;        
    }
    .menu{
        display: flex;
        justify-items: center;        
        justify-content: flex-end;        
    }
}